<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mqapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.mapper.AuthMapper">
	
	<insert id="insert">
		INSERT INTO tbl_member_auth (userid, auth)
		VALUES (#{userid}, #{auth});
	</insert>
	
	<delete id="delete">
		DELETE FROM tbl_member_auth 
		WHERE userid = #{userid}
	</delete>
	
</mapper>



