<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mqapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.mapper.BoardMapper">


	<sql id="criteria">
		<trim prefix=" AND (" suffix=") " prefixOverrides="OR">
			<foreach item='type' collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like concat('%',#{keyword},'%')
						</when>
						<when test="type == 'C'.toString()">
							content like concat('%',#{keyword},'%')
						</when>
						<when test="type == 'W'.toString()">
							writer like concat('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim> 
	</sql>

	<select id="getList" resultType="com.naver.domain.BoardVO">
	<![CDATA[
	select * from tbl_${boardId}_write WHERE bno > 0 ORDER BY bno DESC 
	]]>
	</select>
	
	<select id="getTmpList" resultType="com.naver.domain.BoardVO">
	<![CDATA[
	select * from tbl_${boardId}_write WHERE 1 ORDER BY bno DESC 
	]]>
	</select>
	
	
	<select id="getTotalCount" resultType="int">
	
	select count(*) from tbl_${boardId}_write
	where  1
	<include refid="criteria"></include>
	
	</select>
	
	<select id="getListWithPaging" resultType="com.naver.domain.BoardVO">
	
	select b.*, 
	(SELECT count(*) FROM tbl_attach WHERE bno = b.bno) attachCnt	
	from tbl_${boardId}_write b
	where 1
	<include refid="criteria"></include>
	
	ORDER BY bno DESC 
	LIMIT #{paging} , #{amount}
	
	</select>
	
	<select id="getGalleryWithPaging" resultType="com.naver.domain.BoardVO">
	
	select b.*, 
		(SELECT group_concat(uploadPath,'/s_',uuid,'_',fileName ) 
		FROM tbl_attach WHERE bno = b.bno) thumb	
	from tbl_${boardId}_writeb
	where 1
	<include refid="criteria"></include>
	
	ORDER BY bno DESC 
	LIMIT #{paging} , #{amount}
	
	</select>
	
	<insert id="insert">
		insert into tbl_${boardId}_write(bno, title, content, writer)
		values (null, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="AFTER" resultType="long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tbl_${boardId}_write (bno, title, content, writer)
		values (null, #{title}, #{content}, #{writer})
	</insert>
	
	<insert id="insertTmp">
		insert into tbl_${boardId}_write(title, content, writer, status)
		values (#{title}, #{content}, #{writer}, 'F')
	</insert>
	
	<select id="read" resultType="com.naver.domain.BoardVO">
	<![CDATA[
	select * from tbl_${boardId}_write WHERE bno = #{bno}
	]]>
	</select>
	
	<delete id="delete">
	delete from tbl_${boardId}_write WHERE bno = #{bno}
	</delete>
	
	<update id="update">
	update tbl_${boardId}_write
	set title = #{title},
		content = #{content},
		writer = #{writer},
		updatedate = now()
	where bno = #{bno}	
	</update>
	
	<update id="updateReplyCnt">
	update tbl_${boardId}_write
	set replycnt = replycnt + #{amount}
	where bno = #{bno} 
	</update>
</mapper>



